[class*="steamdesktop_Wrapper_"] {
  background: var(--background-fill-color-mica-background-base);
}

[class*="steamdesktop_Wrapper_"] [class*="steamdesktop_OuterFrame_"] {
  width: unset !important;
  transition: width 0.25s ease;
  flex: 1;
}

/* ---------------- Removed ---------------- */
[class*="steamdesktop_Wrapper_"] [class*="steamdesktop_FocusBar_"],
[class*="steamdesktop_Wrapper_"] [class*="steamdesktop_SuperNavBar_"],
[class*="steamdesktop_BrowserWrapper_"] [class*="bottombar_AddGameButton_"],
[class*="steamdesktop_BrowserWrapper_"] [class*="bottombar_DownloadStatus_"],
[class*="steamdesktop_BrowserWrapper_"] [class*="bottombar_FriendsButton_"] {
  display: none;
}

/* ---------------- Sidebar ---------------- */
@font-face {
  font-family: FluentSystemIcons;
  src: url("../fonts/FluentSystemIcons-Resizable.woff2");
}

:root {
  --text-font-family: "Segoe UI Variable Text", "Segoe UI";

  --background-fill-color-mica-background-base: rgb(32 32 32);
  --stroke-color-card-stroke-default: rgba(0, 0, 0, 0.1);
  --background-fill-color-layer-default: rgba(58, 58, 58, 0.3);
  --fill-color-accent-secondary: rgba(96, 205, 255, 0.9);
  --fill-color-subtle-secondary: rgba(255, 255, 255, 0.06);
  --fill-color-text-primary: rgba(255, 255, 255, 1);

  --fill-color-acrylic-background-default: rgba(44, 44, 44, 0.96);
  --background-fill-color-acrylic-background-default: url('../media/noise.jpeg');
}

@media (prefer-color-scheme: dark) {
}

@media (prefer-color-scheme: light) {
  :root {
    --fill-color-subtle-secondary: rgba(0, 0, 0, 0.04);
    --fill-color-text-primary: rgba(0, 0, 0, 0.9);
  }
}

body {
  font-family: var(--text-font-family);
  font-size: 14px;
}

#sidebar {
  display: flex;
  min-width: 48px;
  height: -webkit-fill-available;
  flex-direction: column;
  transition: min-width 0.25s ease-out;
  padding: 8px 0;
  color: var(--fill-color-text-primary) !important;
}

#sidebar.active {
  min-width: 232px;
  transition: min-width 0.25s ease-in;
}

.activeIndicator {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  width: 7px;
  height: 34px;
  transition: top 0.15s cubic-bezier(1, 0, 0, 1);
}

.activeIndicator::before {
  content: "";
  width: 3px;
  height: 16px;
  border-radius: 1.5px;
  background: var(--fill-color-accent-secondary);
}

.section {
  display: flex;
  flex-direction: column;
  gap: 4px;
  margin: 0 4px;
}

.section:nth-child(1) {
  flex: 1 1 auto;
  align-items: flex-start;
}

.section:nth-child(2) {
  align-items: flex-end;
}

.section .button {
  display: flex;
  width: 100%;
  border-radius: 4px;
  flex-direction: row;
  gap: 3px;
  background: transparent;
  color: var(--fill-color-text-primary);
  transition: background 0.1s ease-out;
}

.section .button.active {
  background: var(--fill-color-subtle-secondary);
}

.section .button:hover {
  background: var(--fill-color-subtle-secondary);
  transition: background 0.1s ease-in;
}

.section .button .icon {
  display: grid;
  place-items: center;
  font-family: FluentSystemIcons;
  font-size: 16px;
  line-height: 16px;
  min-width: 34px;
  min-height: 34px;
  margin-left: 3px;
  overflow: hidden;
}

.section #back.button .icon::before {
  content: "";
}

.section #back.button.active .icon::before,
.section #back.button:active .icon::before {
  content: "";
}

.section #library.button .icon::before {
  content: "";
}

.section #library.button.active .icon::before,
.section #library.button:active .icon::before {
  content: "";
}

.section #collections.button .icon::before {
  content: "";
}

.section #collections.button.active .icon::before,
.section #collections.button:active .icon::before {
  content: "";
}

.section #community.button .icon::before {
  content: "";
}

.section #community.button.active .icon::before,
.section #community.button:active .icon::before {
  content: "";
}

.section #store.button .icon::before {
  content: "";
}

.section #store.button.active .icon::before,
.section #store.button:active .icon::before {
  content: "";
}

.section #downloads.button .icon::before {
  content: "";
}

.section #downloads.button.active .icon::before,
.section #downloads.button:active .icon::before {
  content: "";
}

.section #settings.button .icon::before {
  content: "";
}

.section #settings.button:active .icon::before,
.section #settings.button:active .icon::before {
  content: "";
}

.section .button .text {
  width: 0;
  margin-block: 6px 8px;
  transition: width 0.25s ease-out;
  overflow: hidden;
}

#sidebar.active .button .text {
  width: 100%;
  transition: width 0.25s ease-in;
}

.section #back.button {
  margin-bottom: 3px;
}

/* ---------------- Menubar ---------------- */
[class*="steamdesktop_Wrapper_"]
  .titlebarcontrols_TitleBarControls_3cykd
  .titlebarcontrols_BranchBar_1n8t0,
.titlebarcontrols_TitleBarControls_3cykd
  .titlebarcontrols_SupportAlertsButton_32TmR,
.titlebarcontrols_TitleBarControls_3cykd
  .titlebarcontrols_OSEndOfLifeAlertsButton_1AcQ7,
.titlebarcontrols_TitleBarControls_3cykd
  .titlebarcontrols_ParentalToggleButton_13vrq,
.titlebarcontrols_TitleBarControls_3cykd
  .titlebarcontrols_AnnouncementsButton_5wILZ,
.titlebarcontrols_TitleBarControls_3cykd
  .titlebarcontrols_NotificationButtonContainer_3mGEz,
.titlebarcontrols_TitleBarControls_3cykd .titlebarcontrols_AccountMenu_3yD46,
.titlebarcontrols_TitleBarControls_3cykd
  .titlebarcontrols_SoundtrackControls_Utdt7 {
  margin-right: unset !important;
}

[class*="steamdesktop_Wrapper_"] [class*="steamdesktop_TopBar_"] {
  background: transparent !important;
  box-shadow: none !important;
}

[class*="steamdesktop_Wrapper_"] [class*="steamdesktop_TitleBar_"] {
  width: 100%;
  height: 48px !important;
  display: flex;
  flex-direction: row;
  -webkit-app-region: drag;
  gap: 8px;
}

[class*="steamdesktop_Wrapper_"]
  [class*="steamdesktop_TitleBar_"]
  [class*="steamdesktop_RootMenuBar_"] {
  flex: 1 !important;
  margin-top: unset !important;
}

[class*="steamdesktop_Wrapper_"]
  [class*="steamdesktop_TitleBar_"]
  [class*="steamdesktop_DragArea_"] {
  display: none !important;
}

[class*="steamdesktop_Wrapper_"]
  [class*="steamdesktop_TitleBar_"]
  [class*="steamdesktop_RootMenuBar_"]
  [class*="menu_MenuWrapper_"][class*="rootmenu_RootMenuButton_"] {
  color: var(--fill-color-text-primary) !important;
}

[class*="steamdesktop_Wrapper_"] [class*="titlebarcontrols_TitleBarControls_"] {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin: unset !important;
  gap: 8px;
}

[class*="steamdesktop_Wrapper_"] [class*="titlebarcontrols_Button_"] {
  min-width: 30px !important;
  min-height: 30px !important;
  display: grid;
  place-items: center;
  padding: 0 !important;
  border-radius: 4px !important;
  background: transparent !important;
  color: var(--fill-color-text-primary) !important;
}

[class*="steamdesktop_Wrapper_"] [class*="titlebarcontrols_Button_"]:hover {
  background: var(--fill-color-subtle-secondary) !important;
}

[class*="steamdesktop_Wrapper_"]
  [class*="titlebarcontrols_GamepadUIToggle_"]
  [class*="titlebarcontrols_Icon_"] {
  height: 16px;
  width: 16px;
  position: unset !important;
  top: unset !important;
}

[class*="steamdesktop_Wrapper_"] [class*="titlebarcontrols_Icon_"],
[class*="steamdesktop_Wrapper_"]
  [class*="titlebarcontrols_AnnouncementWaveSVG_"] {
  display: none;
}

[class*="steamdesktop_Wrapper_"]
  [class*="titlebarcontrols_TitleBarControls_"]
  [class*="titlebarcontrols_Button_"]::before,
[class*="steamdesktop_BrowserWrapper_"]
  [class*="steamdesktop_URLBar_"]
  [class*="steamdesktop_ReloadButton_"]::before,
[class*="steamdesktop_BrowserWrapper_"]
  [class*="steamdesktop_URLBar_"]
  [class*="steamdesktop_LockIcon_"]::before,
[class*="steamdesktop_Wrapper_"]
  [class*="menu_MenuWrapper_"][class*="rootmenu_RootMenuButton_"]::after {
  font-family: FluentSystemIcons;
  font-size: 18px;
  max-width: 18px;
  max-height: 16px;
  line-height: 16px;
  text-align: center;
}

[class*="steamdesktop_Wrapper_"]
  [class*="menu_MenuWrapper_"][class*="rootmenu_RootMenuButton_"]::after {
  content: "";
  font-size: 16px;
  margin-left: 4px;
}

[class*="steamdesktop_Wrapper_"]
  [class*="titlebarcontrols_NotificationsButton_"][class*="titlebarcontrols_NoNew_"] {
  display: none !important;
}

[class*="steamdesktop_Wrapper_"]
  [class*="titlebarcontrols_NotificationsButton_"]::before {
  content: "";
}

[class*="steamdesktop_Wrapper_"]
  [class*="titlebarcontrols_NotificationsButton_"]:active::before {
  content: "";
}

[class*="steamdesktop_Wrapper_"]
  [class*="titlebarcontrols_AnnouncementsButton_"] {
  display: none;
}

[class*="steamdesktop_Wrapper_"]
  [class*="titlebarcontrols_AnnouncementsButton_"][class*="titlebarcontrols_Active_"]::before {
  content: "";
}

[class*="steamdesktop_Wrapper_"]
  [class*="titlebarcontrols_AnnouncementsButton_"][class*="titlebarcontrols_Active_"]:active::before {
  content: "";
}

[class*="steamdesktop_Wrapper_"]
  [class*="titlebarcontrols_GamepadUIToggle_"]::before {
  content: "";
}

[class*="steamdesktop_Wrapper_"]
  [class*="titlebarcontrols_GamepadUIToggle_"]:active::before {
  content: "";
}

[class*="steamdesktop_Wrapper_"]
  [class*="titlebarcontrols_TitleBarControls_"]
  :nth-child(1) {
  order: 0;
}

[class*="steamdesktop_Wrapper_"]
  [class*="titlebarcontrols_TitleBarControls_"]
  :nth-child(2) {
  order: 1;
}

[class*="steamdesktop_Wrapper_"]
  [class*="titlebarcontrols_TitleBarControls_"]
  :nth-child(3) {
  order: 3;
}

[class*="steamdesktop_Wrapper_"]
  [class*="titlebarcontrols_TitleBarControls_"]
  :nth-child(4) {
  order: 2;
}

[class*="steamdesktop_Wrapper_"] [class*="titlebarcontrols_AccountMenu_"] {
  max-width: unset !important;
  max-height: 30px !important;
  min-width: 30px;
  min-height: 30px;
  display: flex;
  flex-direction: row;
  gap: 8px !important;
  align-items: center;
  border-radius: 4px !important;
  padding-right: unset !important;
  font-size: 12px !important;
  background: none !important;
  overflow: hidden;
  margin: unset !important;
}

[class*="steamdesktop_Wrapper_"]
  [class*="titlebarcontrols_AccountMenu_"]
  [class*="steamavatar_avatarHolder_"] {
  display: grid;
  place-items: center;
  height: 30px !important;
  width: 30px !important;
  transform: none !important;
  border-radius: 50%;
  overflow: hidden;
}

[class*="steamdesktop_Wrapper_"]
  [class*="titlebarcontrols_AccountMenu_"]
  [class*="titlebarcontrols_WalletBalance_"] {
  display: none !important;
}

[class*="steamdesktop_Wrapper_"]
  [class*="steamdesktop_TitleBar_"]
  [class*="steamdesktop_WindowControls_"] {
  display: flex;
  flex: unset !important;
  position: unset !important;
  cursor: pointer;
  align-items: center;
}

[class*="steamdesktop_Wrapper_"] .title-area {
  position: unset !important;
}

[class*="steamdesktop_Wrapper_"] .title-area-highlight {
  display: none !important;
}

[class*="steamdesktop_Wrapper_"] .title-area-children {
  position: absolute !important;
  top: 0;
  left: 0;
  bottom: 0;
  text-align: left !important;
  flex-grow: 1;
}

[class*="steamdesktop_Wrapper_"]
  .friendsui-container
  .title-area
  .title-bar-actions,
.DesktopUI .title-area .title-bar-actions {
  margin-right: 0px;
  gap: 4px;
}
[class*="steamdesktop_Wrapper_"] .title-bar-actions,
.friendsui-container .title-bar-actions {
  max-height: 30px !important;
  right: unset !important;
  cursor: default;
}

[class*="steamdesktop_Wrapper_"] .title-area-icon,
.friendsui-container .title-area-icon {
  width: 30px !important;
  height: 30px !important;
  display: grid !important;
  align-items: unset !important;
  justify-content: unset !important;
  place-items: center;
  border-radius: 4px;
  margin: 0;
}

[class*="steamdesktop_Wrapper_"] [class*="steamavatar_avatarStatus_"] {
  position: absolute;
  top: unset !important;
  bottom: unset !important;
  right: unset !important;
  min-height: 8px !important;
  min-width: 8px !important;
  border-radius: 50%;
  z-index: 1 !important;
  margin-top: 19px;
  margin-left: 19px;
}

[class*="steamdesktop_Wrapper_"]
  [class*="titlebarcontrols_AccountMenu_"].online
  [class*="steamavatar_avatarStatus_"] {
  border: 2px solid var(--background-fill-color-mica-background-base) !important;
}

[class*="steamdesktop_Wrapper_"] [class*="steamavatar_avatar_"] {
  border: none !important;
  height: 30px;
  width: 30px;
  border-radius: 50%;
  box-shadow: none !important;
  transition: filter 0.24s ease-in-out;
}

[class*="rootmenu_RootMenuBar_"] {
  height: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  padding-left: unset !important;
  gap: 0 !important;
  max-width: calc(100% - 99px);
  overflow: hidden;
  box-sizing: border-box;
}

[class*="rootmenu_RootMenuButton_"] {
  font-size: 12px;
  padding: 9px 12px !important;
  transition: color 0.15s ease-out;
  display: flex;
  align-items: center;
  box-sizing: border-box;
  height: 100%;
}

/* --------------- ContFrame --------------- */
[class*="steamdesktop_Wrapper_"] [class*="steamdesktop_ContentFrame_"] {
  overflow: hidden;
  flex-grow: 1;
  display: flex;
  flex-direction: column;

  border-left: 1px solid;
  border-top: 1px solid;
  border-color: var(--stroke-color-card-stroke-default);
  border-top-left-radius: 6px;
  background: var(--background-fill-color-layer-default);
}

/* ----------- ContFrameBrowser ------------ */
[class*="steamdesktop_BrowserWrapper_"] [class*="steamdesktop_URLBar_"] {
  display: flex !important;
  gap: 4px !important;
  background: none !important;
  padding: 4px 12px !important;
  align-items: center !important;
  box-shadow: none !important;
  border-bottom: 1px solid var(--stroke-color-card-stroke-default);
}

[class*="steamdesktop_BrowserWrapper_"] [class*="steamdesktop_URLBar_"] svg {
  display: none !important;
}

[class*="steamdesktop_BrowserWrapper_"]
  [class*="steamdesktop_URLBar_"]
  [class*="steamdesktop_ReloadButton_"] {
  display: grid !important;
  place-items: center !important;
  padding: 6px 12px !important;
  max-width: 42px !important;
  max-height: 30px !important;
  color: var(--fill-color-text-primary) !important;
  transition: background 0.15s ease-out, color 0.15s ease-out,
    border-radius 0.15s ease-out;
}

[class*="steamdesktop_BrowserWrapper_"]
  [class*="steamdesktop_URLBar_"]
  [class*="steamdesktop_ReloadButton_"]:hover {
  cursor: pointer;
  background: var(--fill-color-subtle-secondary) !important;
  border-radius: 4px !important;
  color: var(--fill-color-text-primary) !important;
}

[class*="steamdesktop_BrowserWrapper_"]
  [class*="steamdesktop_URLBar_"]
  [class*="steamdesktop_ReloadButton_"]::before {
  content: "";
}

[class*="steamdesktop_BrowserWrapper_"]
  [class*="steamdesktop_URLBar_"]
  [class*="steamdesktop_ReloadButton_"]:active:before {
  content: "";
}

[class*="steamdesktop_BrowserWrapper_"]
  [class*="steamdesktop_URLBar_"]
  [class*="steamdesktop_URLBarText_"] {
  display: flex !important;
  flex: 1 1 auto !important;
  align-items: center !important;
  padding: 6px 6px 6px 0 !important;
  gap: 20px;
  border-radius: 15px !important;
  background: transparent !important;
  transition: background 0.15s ease-out, color 0.15s ease-out,
    border-radius 0.15s ease-out, padding 0.15s ease, gap 0.15s ease;
  margin-left: 2px;
}

[class*="steamdesktop_BrowserWrapper_"]
  [class*="steamdesktop_URLBar_"]
  [class*="steamdesktop_URLBarText_"]:hover {
  cursor: pointer;
  background: var(--fill-color-subtle-secondary) !important;
  padding: 6px 16px !important;
  gap: 16px;
  transition: padding 0.15s ease, gap 0.15s ease;
  border-radius: 16px;
}

[class*="steamdesktop_BrowserWrapper_"]
  [class*="steamdesktop_URLBar_"]
  [class*="steamdesktop_URLBarText_"]:focus {
  padding: 6px 16px !important;
  gap: 16px;
  transition: padding 0.15s ease, gap 0.15s ease;
  box-shadow: inset 0 0 0 2px var(--fill-color-accent-secondary);
}

[class*="steamdesktop_BrowserWrapper_"]
  [class*="steamdesktop_URLBar_"]
  [class*="steamdesktop_URLBarText_"]
  [class*="steamdesktop_URL_"] {
  flex: 1 1 auto !important;
  padding: unset !important;
  color: var(--fill-color-text-primary) !important;
  font-family: var(--text-font-family) !important;
  font-size: 14px !important;
  line-height: 16px !important;
  font-weight: 300 !important;
  white-space: nowrap;
  overflow: scroll !important;
  text-overflow: ellipsis;
}

[class*="steamdesktop_BrowserWrapper_"]
  [class*="steamdesktop_URLBar_"]
  [class*="steamdesktop_LockIcon_"] {
  display: grid;
  place-items: center;
  height: 18px !important;
  color: var(--fill-color-text-primary) !important;
  padding-bottom: unset !important;
}

[class*="steamdesktop_BrowserWrapper_"]
  [class*="steamdesktop_URLBar_"]
  [class*="steamdesktop_URLBarText_"]
  [class*="steamdesktop_URL_"]::-webkit-scrollbar {
  display: none !important;
}

[class*="steamdesktop_BrowserWrapper_"]
  [class*="steamdesktop_URLBar_"]
  [class*="steamdesktop_LockIcon_"]::before {
  content: "";
}

/* ---------------- Menubar ----------------- */
html[class*="contextmenu_ContextMenuPopup_"] body {
  background: transparent !important;
}

[class*="contextmenu_contextMenu_"].visible[class*="contextmenu_ContextMenuFocusContainer_"] {
  min-width: 250px !important;
}

html[class*="contextmenu_ContextMenuPopup_"] [class*="contextmenu_contextMenu_"] {
  position: static;
  box-shadow: none !important;
  display: inline-block;
  padding: 4px !important;
  overflow: hidden !important;
  border-radius: 8px !important;
}

/* ---------------- Bottom ----------------- */

/* [class*="steamdesktop_BrowserWrapper_"] [class*="bottombar_BottomBar_"] {
  flex: 0 !important;
  max-height: 0 !important;
  background: none !important;
  box-shadow: none !important;
  padding: unset !important;
  display: flex;
  flex-direction: row;
  align-items: center;
  -webkit-app-region: no-drag !important;
}

[class*="steamdesktop_BrowserWrapper_"] .window_resize_grip {
  background-image: none !important;
} */

/* ----------------------------------------- */
