:root {
    /* Background accent */
    --mica-bg-accent: rgb(44 93 239 / 20% /* Against #000 bg */) !important; 
    /*You can use a image too, but result may vary*/
    /*You can use https://lokeshdhakar.com/projects/color-thief/ to get the "average color" of your wallpaper.*/

    /* Dark mode */
    --accent-pri: rgb(96 205 255 / 100%) !important;
    --accent-sec: rgb(96 205 255 / 90%) !important;
    --accent-ter: rgb(96 205 255 / 80%) !important;
    --accent-dis: rgb(255 255 255 / 15.81%) !important;
    --accent-stb: rgb(0 120 212 / 100%) !important;
    --base: rgb(32 32 32 / 80%) !important;
    --base-alt: rgb(10 10 10 / 0% /* Don't ask, Microsoft weirdness. */) !important;
    --fill: rgb(58 58 58 / 30%) !important;
    --fill-alt: rgb(255 255 255 / 5.38%) !important;
    --stroke: rgb(0 0 0 / 10%) !important;
    --stroke-solid: rgb(28 28 28) !important;
    --side-button-hover: rgb(255 255 255 / 6.05%) !important;
    --side-button-press: rgb(255 255 255 / 10%) !important;
    --text-base: rgb(255 255 255) !important;
    --text-base-alt: rgb(255 255 255 / 78.6%) !important;
    --text-secondary: rgb(255 255 255 / 54.42%) !important;
    --text-disabled: rgb(255 255 255 / 36.28%) !important;
    /* Light mode */
    /* --accent-pri: rgb(0 95 184 / 100%) !important; */
    /* --accent-sec: rgb(0 95 184 / 90%) !important; */
    /* --accent-ter: rgb(0 95 184 / 80%) !important; */
    /* --accent-dis: rgb(0 0 0 / 21.69%) !important; */
    /* --accent-stb: rgb(0 120 212 / 100%) !important; */
    /* --base: rgb(243 243 243 / 50%) !important; */
    /* --base-alt: rgb(218 218 218 / 50%) !important*/
    /* --fill: rgb(255 255 255 / 50%) !important; */
    /* --fill-alt: rgb(255 255 255) !important; */
    /* --stroke: rgb(0 0 0 / 5.78%) !important; */
    /* --stroke-solid: rgb(235 235 235) !important;*/
}

[class*="gamepadui_SteamUIPopupWindow_"] [class*="steamdesktop_Wrapper_"] {
    background: var(--mica-bg-accent) !important;
}

[class*="gamepadui_SteamUIPopupWindow_"] [class*="steamdesktop_FocusBar_"],
[class*="gamepadui_SteamUIPopupWindow_"] [class*="bottombar_Queue_"],
[class*="gamepadui_SteamUIPopupWindow_"] [class*="bottombar_Icon_"] > svg,
[class*="gamepadui_SteamUIPopupWindow_"] [class*="titlebarcontrols_Icon_"] {
    display: none !important;
}

[class*="gamepadui_SteamUIPopupWindow_"] [class*="steamdesktop_ContentFrame_"] {
    left: 0;
    top: 0;
    bottom: 0;
    right: 0;
    position: absolute !important;
    border-top-left-radius: 8px !important;
    overflow: hidden;
}

[class*="gamepadui_SteamUIPopupWindow_"] [class*="bottombar_StatusLine_"] {
    display: none !important;
}

#custom.frame {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: var(--base);
    border: 1px solid transparent;
}

#custom .header {
    margin-left: 50px !important;
    min-height: 50px !important;
    display: flex;
    align-items: center;
    -webkit-app-region: drag; }
    [class*="gamepadui_SteamUIPopupWindow_"] [class*="steamdesktop_TitleBar_"] {
        width: 100%;
        height: 32px !important;
        display: flex;
        flex-direction: row;
        -webkit-app-region: unset !important; }
        [class*="gamepadui_SteamUIPopupWindow_"] [class*="rootmenu_RootMenuButton_"] {
            color: var(--text-base-alt) !important;
            font-size: 12px;
            padding: 4px 12px;
            transition: color .15s ease-out;
            display: flex;
            align-items: center;
            box-sizing: border-box;
            height: 100%;
            border-radius: 4px;
        }
        [class*="gamepadui_SteamUIPopupWindow_"] [class*="rootmenu_RootMenuBar_"]  {
            height: 100%;
            display: flex;
            flex-direction: row;
            align-items: center;
            padding-left: 9px;
            gap: 4px;
            max-width: unset !important;
            overflow: hidden;
            box-sizing: border-box;
            margin: 0 !important;
            padding: 0 !important;
            flex: 0 0 auto !important;  
        }
        [class*="gamepadui_SteamUIPopupWindow_"] [class*="steamdesktop_DragArea_"] {
            flex: 1 0 auto;
            -webkit-app-region: unset !important;
        }
        [class*="gamepadui_SteamUIPopupWindow_"] [class*="titlebarcontrols_TitleBarControls_"]  {
            display: flex;
            flex-direction: row;
            align-items: center;
            flex: 0 0 auto !important;
            padding: 0 !important;
            margin: 0 !important;
            gap: 6px; }
            [class*="gamepadui_SteamUIPopupWindow_"] [class*="titlebarcontrols_Button_"] {
                width: 32px;
                margin: 0 !important;
                padding: 0 !important;
                height: 32px;
                display: grid;
                place-items: center;
                border-radius: 4px !important;
                background: none !important;
            }
            [class*="gamepadui_SteamUIPopupWindow_"] [class*="menu_MenuWrapper_"] {
            margin: 0 !important; }
            [class*="gamepadui_SteamUIPopupWindow_"] [class*="titlebarcontrols_AccountMenu_"] {
                margin: 0 !important;
                padding: 0 12px !important;
                height: 32px !important;
                max-height: none !important;
                gap: 4px !important;
                border-radius: 4px !important;
                background: none !important;
                color: var(--text-base-alt); }
                [class*="gamepadui_SteamUIPopupWindow_"] [class*="steamavatar_avatarHolder_"] {
                    height: 24px !important;
                    width: 24px !important;
                    border-radius: 50% !important;
                    overflow: hidden;
                    display: flex;
                    margin: 0px 0px;
                    transform: none !important;
                    flex-direction: row;
                    flex-shrink: 0;
                    margin-right: 4px !important;
                }
                [class*="gamepadui_SteamUIPopupWindow_"] [class*="titlebarcontrols_WalletBalance_"] {
                    display: none;
                }
                [class*="gamepadui_SteamUIPopupWindow_"] [class*="titlebarcontrols_GamepadUIToggle_"] > svg {
            margin: 8px !important;
        }

#custom .page {
    display: flex;
    flex-direction: row;
}

#custom .header {
    margin-left: 48px !important;
    min-height: 48px !important;
    display: flex;
    align-items: center;
    -webkit-app-region: drag;
}

#custom .nav-frame {
    position: absolute;
    display: flex;
    flex-direction: column;
    flex: 1;
    left: 0;
    top: 0;
    width: 40px;
    bottom: 0;
    gap: 4px;
    padding: 7px 4px 8px;
    justify-content: space-between;
}

#custom .top-nav {
    gap: 4px;
    display: flex;
    flex-direction: column;
}

[class*="gamepadui_SteamUIPopupWindow_"] .top-nav > [class*="supernav_Arrow_"] {
    color: var(--text-base-alt) !important;
    border-radius: 4px;
    padding: 10px 12px;
    margin-bottom: 2px;
    transform: none !important;
}

#custom .bottom-nav {
    display: flex;
    flex-direction: column-reverse;
    gap: 4px;
}

#custom .navbuttons {
    display: grid;
    place-items: center;
    width: 40px;
    height: 36px;
    border-radius: 4px;
    margin: 0 !important;
    transition: background .15s ease-out;
    font-family: 'Segoe Fluent Icons','Segoe MDL2 Assets';
}

#custom .button {
    color: var(--text-base-alt);
    background: none !important;
}

#custom .navbuttons:hover,
#custom .button:hover,
[class*="gamepadui_SteamUIPopupWindow_"] [class*="rootmenu_RootMenuButton_"]:hover,
[class*="gamepadui_SteamUIPopupWindow_"] [class*="titlebarcontrols_Button_"]:hover,
[class*="titlebarcontrols_AccountMenu_"]:hover,
[class*="gamepadui_SteamUIPopupWindow_"] .top-nav > [class*="supernav_Arrow_"]:not([class*="supernav_Disabled_"]):hover,
[class*="gamepadui_SteamUIPopupWindow_"] [class*="titlebarcontrols_Button_"]:hover::before,
[class*="gamepadui_SteamUIPopupWindow_"] .title-area-icon.windowControlButton:not(.closeButton):hover,
[class*="gamepadui_SteamUIPopupWindow_"] [class*="bottombar_DownloadStatus_"]:hover {
    color: var(--text-base) !important;
    background: var(--side-button-hover) !important;
    transition-property: background, color;
    transition-duration: .15s;
    transition-timing-function: ease-in;
}

#custom .navbuttons:active,
#custom .active,
[class*="gamepadui_SteamUIPopupWindow_"] .top-nav > [class*="supernav_Arrow_"]:not([class*="supernav_Disabled_"]):active {
    color: var(--text-base) !important;
    background: var(--side-button-press) !important;
    transition-property: background, color;
    transition-duration: .15s;
    transition-timing-function: ease-in;
}

#custom .content-frame {
    position: absolute;
    left: 48px;
    top: 48px;
    bottom: 0;
    right: 0;
}

[class*="gamepadui_SteamUIPopupWindow_"] [class*="bottombar_DownloadStatus_"] {
    flex-grow: unset !important;
    display: flex;
    flex-direction: column !important;
    align-items: center !important;
    -webkit-app-region: no-drag !important;
    position: unset !important;
    width: 40px !important;
    height: 40px !important;
    border-radius: 4px;
}

[class*="gamepadui_SteamUIPopupWindow_"] [class*="bottombar_DownloadStatusContent_"] {
    flex-grow: unset !important;
    display: grid;
    place-items: center;
    flex-direction: column !important;
    -webkit-app-region: no-drag !important;
    position: unset !important;
    width: 40px !important;
    height: 40px !important;
    min-height: 40px !important;
    border-radius: 4px !important;
    overflow: hidden !important;
    transition: all .15s ease-out;
    padding: 0 !important;
}

[class*="gamepadui_SteamUIPopupWindow_"] [class*="bottombar_DetailedDownloadProgress_"] {
    flex-grow: unset !important;
    display: flex;
    flex-direction: column !important;
    align-items: unset !important;
    gap: unset !important;
    width: 40px !important;
    height: 40px !important;
    position: relative !important;
    top: 0;
    left: 0;
}

[class*="gamepadui_SteamUIPopupWindow_"] [class*="bottombar_DetailedDownloadProgress_"] [class*="bottombar_Icon_"] {
    width: 40px !important;
    max-width: 16px !important;
    height: 40px !important;
    box-shadow: none !important;
    padding: 12px;
}

[class*="gamepadui_SteamUIPopupWindow_"] [class*="bottombar_IconBevel_"] {
    display: none !important;
    background: none !important;
}

[class*="gamepadui_SteamUIPopupWindow_"] [class*="bottombar_ProgressBarWrapper_"] [class*="bottombar_ProgressBar_"] {
    height: 6px !important;
    --color-progress-bar-background: #000 !important;
    border-radius: 3px !important;
    border: 1px solid var(--accent-pri);
}

[class*="gamepadui_SteamUIPopupWindow_"] [class*="progressbar_ProgressBar_"]::after {
    content: "";
    display: block;
    width: calc(100%*var(--percent));
    height: 2px !important;
    background-color: var(--accent-pri);
    margin: 2px !important;
    border-radius: 2px;
}

[class*="gamepadui_SteamUIPopupWindow_"] [class*="bottombar_Icon_"]>[class*="libraryassetimage_Container_"] {
    position: absolute;
    width: 40px !important;
    height: 40px !important;
    border-radius: 4px;
    overflow: hidden;
    top: 0;
    left: 0;
    z-index: 0;
}

[class*="gamepadui_SteamUIPopupWindow_"] [class*="bottombar_DownloadStatusContent_"] [class*="bottombar_Icon_"] {
    height: 16px;
    width: 16px;
    color: inherit !important;
    transition-property: color, background !important;
    transition-duration: .15s !important;
    transition-timing-function: ease-out !important;
}

[class*="gamepadui_SteamUIPopupWindow_"] [class*="bottombar_ProgressBarWrapper_"] {
    gap: unset !important;
    position: absolute !important;
    bottom: 0 !important;
    left: 0 !important;
    right: 2px !important;
    margin: 4px;
}

[class*="gamepadui_SteamUIPopupWindow_"] .top-nav > [class*="supernav_Arrow_"] > path {
    /* ← */
    fill: var(--text-base-alt);
    d: path("M16 8.00311C16 8.11249 15.9792 8.21665 15.9375 8.31561C15.8958 8.40936 15.8385 8.4927 15.7656 8.56561C15.6927 8.63853 15.6068 8.69582 15.5078 8.73749C15.4141 8.77915 15.3125 8.79999 15.2031 8.79999H2.72656L7.76562 13.8312C7.92188 13.9875 8 14.175 8 14.3937C8 14.5031 7.97917 14.6073 7.9375 14.7062C7.89583 14.8052 7.83854 14.8911 7.76562 14.9641C7.69792 15.037 7.61458 15.0943 7.51562 15.1359C7.41667 15.1776 7.3125 15.1984 7.20312 15.1984C6.97917 15.1984 6.78906 15.1203 6.63281 14.9641L0.210938 8.54218V8.53436C0.0703125 8.39374 0 8.21665 0 8.00311C0 7.77915 0.078125 7.58905 0.234375 7.4328L6.63281 1.03436C6.78906 0.878113 6.97917 0.799988 7.20312 0.799988C7.3125 0.799988 7.41406 0.820821 7.50781 0.862488C7.60677 0.904154 7.69271 0.961446 7.76562 1.03436C7.83854 1.10728 7.89583 1.19322 7.9375 1.29218C7.97917 1.38593 8 1.48749 8 1.59686C8 1.82082 7.92188 2.01093 7.76562 2.16718L2.73438 7.19843H15.2031C15.3125 7.19843 15.4141 7.21926 15.5078 7.26093C15.6068 7.30259 15.6927 7.36249 15.7656 7.44061C15.8385 7.51353 15.8958 7.59947 15.9375 7.69843C15.9792 7.79218 16 7.89374 16 8.00311Z") !important;
    transition: .15s cubic-bezier(.42,0,.58,1);
}

[class*="gamepadui_SteamUIPopupWindow_"] .top-nav > [class*="supernav_Arrow_"]:not([class*="supernav_Disabled_"]):active > path {
    /* ← */
    fill: var(--text-secondary);
    d: path("M16 8.00311C16 8.11249 15.9792 8.21665 15.9375 8.31561C15.8958 8.40936 15.8385 8.4927 15.7656 8.56561C15.6927 8.63853 15.6068 8.69582 15.5078 8.73749C15.4141 8.77915 15.3125 8.79999 15.2031 8.79999H5.72656L10.7656 13.8312C10.9219 13.9875 11 14.175 11 14.3937C11 14.5031 10.9792 14.6073 10.9375 14.7062C10.8958 14.8052 10.8385 14.8911 10.7656 14.9641C10.6979 15.037 10.6146 15.0943 10.5156 15.1359C10.4167 15.1776 10.3125 15.1984 10.2031 15.1984C9.97917 15.1984 9.78906 15.1203 9.63281 14.9641L3.21094 8.54218V8.53436C3.07031 8.39374 3 8.21665 3 8.00311C3 7.77915 3.07812 7.58905 3.23438 7.4328L9.63281 1.03436C9.78906 0.878113 9.97917 0.799988 10.2031 0.799988C10.3125 0.799988 10.4141 0.820821 10.5078 0.862488C10.6068 0.904154 10.6927 0.961446 10.7656 1.03436C10.8385 1.10728 10.8958 1.19322 10.9375 1.29218C10.9792 1.38593 11 1.48749 11 1.59686C11 1.82082 10.9219 2.01093 10.7656 2.16718L5.73438 7.19843H15.2031C15.3125 7.19843 15.4141 7.21926 15.5078 7.26093C15.6068 7.30259 15.6927 7.36249 15.7656 7.44061C15.8385 7.51353 15.8958 7.59947 15.9375 7.69843C15.9792 7.79218 16 7.89374 16 8.00311Z") !important;
}

[class*="gamepadui_SteamUIPopupWindow_"] .top-nav > [class*="supernav_Arrow_"][class*="supernav_Disabled_"],
[class*="gamepadui_SteamUIPopupWindow_"] [class*="supernav_Disabled_"] {
    fill: var(--text-disabled) !important;
}
[class*="gamepadui_SteamUIPopupWindow_"] [class*="titlebarcontrols_Button_"]::before,
[class*="gamepadui_SteamUIPopupWindow_"] [class*="bottombar_DownloadStatus_"] [class*="bottombar_Icon_"]::after{
    font-family: 'Segoe Fluent Icons';
    font-size: 16px;
    color: var(--text-base-alt);
}

[class*="gamepadui_SteamUIPopupWindow_"] [class*="titlebarcontrols_AnnouncementsButton_"]::before {
    content: '';
}

[class*="gamepadui_SteamUIPopupWindow_"] [class*="titlebarcontrols_NotificationsButton_"]::before {
    content: '';
}

[class*="gamepadui_SteamUIPopupWindow_"] [class*="titlebarcontrols_GamepadUIToggle_"]::before {
    content: '';
}

[class*="gamepadui_SteamUIPopupWindow_"] [class*="titlebarcontrols_NotificationsButton_"]:not([class*="titlebarcontrols_NoNew_"])::before {
    color: var(--accent-pri);
}

[class*="gamepadui_SteamUIPopupWindow_"] [class*="titlebarcontrols_TitleBarControls_"][class*="steamdesktop_TitleBarControls_"] > div:nth-child(4) {order: 1;}
[class*="gamepadui_SteamUIPopupWindow_"] [class*="titlebarcontrols_TitleBarControls_"][class*="steamdesktop_TitleBarControls_"] > div:nth-child(1) {order: 2;}
[class*="gamepadui_SteamUIPopupWindow_"] [class*="titlebarcontrols_TitleBarControls_"][class*="steamdesktop_TitleBarControls_"] > div:nth-child(2) {order: 3;}
[class*="gamepadui_SteamUIPopupWindow_"] [class*="titlebarcontrols_TitleBarControls_"][class*="steamdesktop_TitleBarControls_"] > div:nth-child(3) {order: 4;}

#custom .title-area .title-area-icon-inner {
    display: none !important;
}

[class*="gamepadui_SteamUIPopupWindow_"] .title-bar-actions.window-controls > div::before{
    font-family: 'Segoe Fluent Icons';
    font-size: 10px;
}
#custom .title-area .closeButton::before {
    content: '';
}

#custom .title-area .maximizeButton::before {
    content: '';
}

#custom .title-area .restoreButton::before {
    content: "";
}

#custom .title-area .minimizeButton::before {
    content: '';
}

[class*="gamepadui_SteamUIPopupWindow_"] [class*="steamdesktop_TitleBar_"] [class*="steamdesktop_WindowControls_"] {
    flex: 0 0 99px;
    position: relative;
    cursor: pointer;
    margin: 0 8px 0 4px !important;
}

[class*="gamepadui_SteamUIPopupWindow_"] .title-area {
    position: relative !important;
}

[class*="gamepadui_SteamUIPopupWindow_"] .title-area-icon.windowControlButton {
    width: 46px !important;
    border-radius: 4px;
    transition: all .15s ease-out;
}

[class*="gamepadui_SteamUIPopupWindow_"] .title-area-icon.windowControlButton:not(.closeButton):active {
    background: rgb(255 255 255 / 4.19%) !important;
    color: rgb(255 255 255 / 78.6%) !important;
    transition-property: background, color;
    transition-duration: .15s;
    transition-timing-function: ease-in;
}

[class*="gamepadui_SteamUIPopupWindow_"] .title-area-icon.closeButton.windowControlButton:hover {
    color: var(--text-base) !important;
    background: rgb(196 43 28) !important;
    transition-property: background, color;
    transition-duration: .15s;
    transition-timing-function: ease-in;
}

[class*="gamepadui_SteamUIPopupWindow_"] .title-area-icon.closeButton.windowControlButton:active {
    color: rgb(255 255 255 / 70%) !important;
    background: rgb(196 43 28 / 90%) !important;
    transition-property: background, color;
    transition-duration: .15s;
    transition-timing-function: ease-in;
}

[class*="gamepadui_SteamUIPopupWindow_"] [class*="bottombar_DownloadStatus_"] [class*="bottombar_Icon_"]::after {
    position: relative;
    content: "";
    top: 0;
    left: 0;
    margin: 12px 0;
    transition-property: background, color;
    transition-duration: .15s;
    transition-timing-function: ease-in;
}

[class*="gamepadui_SteamUIPopupWindow_"] [class*="bottombar_DownloadStatus_"]:hover [class*="bottombar_Icon_"]::after {
    color: rgb(--text-base) !important;
}