[class*="library_AppDetailsTransitionGroup_"] {
    position: relative;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
    background: #282828 !important;
}

[class*="downloads_DownloadsPage_"] {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    background: none !important;
    box-sizing: border-box;
    z-index: 1;
}

[class*="downloadgraph_GraphAndStats_"] {
    position: relative;
    width: 100%;
    height: 154px;
    background-color: #1c1c1c !important;
    display: flex;
    flex-direction: row;
    margin-bottom: auto;
}

[class*="downloadgraph_HeroAndLogo_"][class*="downloadgraph_Empty_"] {
    background: none !important;
    opacity: .3;
    -webkit-mask-image: none !important;
    mask-image: none !important;
    width: 50%;
}

[class*="downloads_TopBar_"] {
    height: 1px;
    width: 100%;
    margin: 0;
    background: #1d1d1d !important;
}

[class*="downloadgraph_StatsPanel_"] {
    flex: 0 0 36%;
    padding: 0 64px;
    font-size: 14px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    max-width: 540px;
}

[class*="downloadgraph_SettingsButton_"] {
    position: absolute;
    top: 36px !important;
    right: 36px !important;
}

[class*="downloadgraph_Button_"][class*="downloadgraph_Button_"], 
[class*="downloadgraph_Button_"][class*="downloadgraph_Button_"]:enabled, 
[class*="downloadgraph_Button_"][class*="downloadgraph_Button_"]:active, 
[class*="downloadgraph_Button_"][class*="downloadgraph_Button_"]:hover, 
[class*="downloadgraph_Button_"][class*="downloadgraph_Button_"]:enabled:active:hover, 
[class*="downloadgraph_Button_"][class*="downloadgraph_Button_"].DialogButton:enabled {
    line-height: initial;
    width: 16px;
    height: 16px;
    box-sizing: content-box;
    display: flex;
    justify-content: center;
    padding: 11px 12px 9px !important;
    margin: unset !important;
    border-radius: 4px !important;
    box-shadow: none !important;
    background: none !important;
    color: #fff !important;
}

[class*="downloadgraph_Button_"].DialogButton._DialogLayout:hover {
    background: #2d2d2d !important;
    transition: background .15s ease-in;
}

[class*="downloadgraph_SettingsButton_"].Focusable .DialogButton::before,
[class*="downloads_Buttons_"] [class*="downloads_ButtonWrapper_"].Focusable [class*="downloads_SectionItem_"][class*="downloads_Active_"] [class*="downloads_Button_"].DialogButton:enabled::before {
    pointer-events: none;
    user-select: none;
    font-family: var(--iconography);
    position: absolute;
    top: unset !important;
    right: unset !important;
    bottom: unset !important;
    left: unset !important;
    box-shadow: none !important;
    opacity: 1 !important;
    transition: background .15s ease-in !important;
}

[class*="downloadgraph_SettingsButton_"].Focusable .DialogButton::before {
    content: "";
}

[class*="downloadgraph_Button_"].DialogButton._DialogLayout.Secondary.Focusable svg {
    display: none !important;
}

[class*="downloadgraph_StatsPanel_"] [class*="downloadgraph_Status_"] {
    display: none !important;
}

[class*="downloadgraph_StatsPanel_"] [class*="downloadgraph_StatsWrapper_"] {
    height: 33%;
    display: flex;
    flex-direction: row;
    align-items: center;
    padding-top: 4px !important;
}

[class*="downloadgraph_DownloadGraph_"] [class*="downloadgraph_DiskGraph_"] {
    position: absolute;
    bottom: 0;
    right: 0;
    width: 100%;
    height: 80%;
    display: none !important;
}

[class*="downloads_SectionItem_"][class*="downloads_Active_"] {
    background-color: #1c1c1c !important;
    padding: 8px 0px 8px 24px;
    overflow-y: scroll;
}

[class*="downloads_Active_"] [class*="downloads_SectionList_"] {
    border: 0 !important;
    border-radius: 0px;
    margin-left: 0px;
}

[class*="appportrait_PortraitImage_"][class*="appportrait_Landscape_"] {
    padding-bottom: 0;
    padding-left: 0;
    padding-right: 0;
    bottom: inherit;
    transition-duration: .4s,.4s,.4s;
    font-size: 2.5em;
    border-radius: 4px !important;
    overflow: hidden !important;
}

[class*="downloads_TopBar_"] {
    height: 1px;
    width: 100%;
    margin: 0;
    background: #323232 !important;
}

[class*="downloads_SectionItem_"][class*="downloads_Active_"] [class*="downloads_Button_"].DialogButton:enabled {
    transition-property: background .15s ease-out !important;
    cursor: pointer;
    color: #fff;
    border-radius: 4px !important;
    width: unset !important;
    height: unset !important;
    border-radius: 4px !important;
}

[class*="downloads_SectionItem_"] [class*="downloads_ButtonWrapper_"] {
    display: inline-flex;
    transition: opacity .2s ease-in-out;
    width: unset !important;
    height: unset !important;
    align-items: center;
}