:root {
    /*  #Flashbang mode
        Add "* and / after the > to enable the theme, be sure to remove the close thing on the dark theme." >
		--AccentColor:								#005FB8FF   !important;
		--AccentMouseOverColor:						#005FB8E6   !important;
		--AccentPressedColor:						#005FB8CC   !important;
		--AccentSelectedColor:						#0078D4FF   !important;
		--AccentControlBorderGradientStop1Color:	#FFFFFF14   !important;
		--AccentControlBorderGradientStop2Color:	#00000066   !important;
		--AccentControlForegroundColor:				#FFFFFFFF   !important;
		--AlternativeColor:							#F3F3F3FF   !important;
		--ButtonBorderGradientStop1Color:			#0000000E   !important;
		--ButtonBorderGradientStop2Color:			#00000029   !important;
		--DisabledBackgroundColor:					#F9F9F94D   !important;
		--DisabledBorderColor:						#0000000F   !important;
		--DisabledForegroundColor:					#000000FF   !important;
		--FocusColor:								#000000E4   !important;
		--FocusInnerColor:							#FFFFFFB3   !important;
		--IconColor:								#000000E4   !important;
		--IconSecondaryColor:						#0000009B   !important;
		--InputBorderGradientStop1Color:			#0000000F   !important;
		--InputBorderGradientStop2Color:			#00000072   !important;
		--MouseOverBackgroundColor:					#F9F9F9B3   !important;
		--MouseOverBorderGradientStop1Color:		#0000000F   !important;
		--MouseOverBorderGradientStop2Color:		#00000071   !important;
		--OverlayColor:								#FBFBFBFF   !important;
		--PressedBackgroundColor:					#F9F9F94D   !important;
		--PrimaryBackgroundColor:					#FFFFFF3B   !important;
		--PrimaryBorderColor:						#0000000F   !important;
		--PrimaryForegroundColor:					#000000E4   !important;
		--PrimarySolidBackgroundColor:				#FFFFFFFF   !important;
		--PrimarySolidBorderColor:					#ECECECFF   !important;
		--ReadOnlyBackgroundColor:					#F6F6F6E6   !important;
		--ReadOnlyBorderColor:						#EBEBEBFF   !important;
		--SecondaryBackgroundColor:					#EEEEEEFF   !important;
		--SecondaryBorderColor:						#00000029   !important;
		--SecondaryForegroundColor:					#0000009B   !important;
		--SelectedColor:							#0000000A   !important;
		--SelectedMouseOverColor:					#00000006   !important;
		--SelectedUnfocusedColor:					#D9D9D9FF   !important;
		--StrokeColor:								#C4C4C4FF   !important;
		--SubtleColor:								#0000000A   !important;
		--SubtleSecondaryColor:						#00000006   !important;
		--TertiaryBackgroundColor:					#F9F9F9FF   !important;
		--TertiaryBorderColor:						#EBEBEBFF   !important;
		--TertiaryForegroundColor:					#00000072   !important;
		--TertiarySmokeBackgroundColor:				#0000004D   !important;
		--ValidationColor:							#C42B1CFF   !important; /**/

    /*	#DarkSide mode                                                     
        Add "* and / after the > to enable the theme, be sure to remove the close thing on the dark theme." > */
		--AccentColor:								#0CDFFFF6	!important;
		--AccentMouseOverColor:						#60CDFFE6	!important;
		--AccentPressedColor:						#60CDFFCC	!important;
		--AccentSelectedColor:						#0078D4FF	!important;
		--AccentControlBorderGradientStop1Color:	#FFFFFF14	!important;
		--AccentControlBorderGradientStop2Color:	#00000023	!important;
		--AccentControlForegroundColor:				#FFFFFFFF	!important;
		--AlternativeColor:							#202020FF	!important;
		--ButtonBorderGradientStop1Color:			#FFFFFF17	!important;
		--ButtonBorderGradientStop2Color:			#FFFFFF17	!important;
		--DisabledBackgroundColor:					#FFFFFF0B	!important;
		--DisabledBorderColor:						#FFFFFF12	!important;
		--DisabledForegroundColor:					#FFFFFFFF	!important;
		--FocusColor:								#FFFFFFFF	!important;
		--FocusInnerColor:							#000000B3	!important;
		--IconColor:								#FFFFFFFF	!important;
		--IconSecondaryColor:						#FFFFFFC8	!important;
		--InputBorderGradientStop1Color:			#FFFFFF14	!important;
		--InputBorderGradientStop2Color:			#FFFFFF8A	!important;
		--MouseOverBackgroundColor:					#FFFFFF15	!important;
		--MouseOverBorderGradientStop1Color:		#FFFFFF14	!important;
		--MouseOverBorderGradientStop2Color:		#FFFFFF8A	!important;
		--OverlayColor:								#2D2D2DFF	!important;
		--PressedBackgroundColor:					#FFFFFF08	!important;
		--PrimaryBackgroundColor:					#FFFFFF0F	!important;
		--PrimaryBorderColor:						#FFFFFF12	!important;
		--PrimaryForegroundColor:					#FFFFFFFF	!important;
		--PrimarySolidBackgroundColor:				#1E1E1EFF	!important;
		--PrimarySolidBorderColor:					#2C2C2CFF	!important;
		--ReadOnlyBackgroundColor:					#FFFFFF08	!important;
		--ReadOnlyBorderColor:						#1C1C1CFF	!important;
		--SecondaryBackgroundColor:					#1C1C1CFF	!important;
		--SecondaryBorderColor:						#FFFFFF18	!important;
		--SecondaryForegroundColor:					#FFFFFFC8	!important;
		--SelectedColor:							#FFFFFF0F	!important;
		--SelectedMouseOverColor:					#FFFFFF0B	!important;
		--SelectedUnfocusedColor:					#404040FF	!important;
		--StrokeColor:								#313131FF	!important;
		--SubtleColor:								#FFFFFF0F	!important;
		--SubtleSecondaryColor:						#FFFFFF0B	!important;
		--TertiaryBackgroundColor:					#282828FF	!important;
		--TertiaryBorderColor:						#262626FF	!important;
		--TertiaryForegroundColor:					#FFFFFF8B	!important;
		--TertiarySmokeBackgroundColor:				#0000004D	!important;
		--ValidationColor:							#FF99A4FF	!important;		/**/

        /* Solid Background Colors */
        --Solid_PrimaryBack:          #202020 !important;
        --Solid_SecondaryBack:        #272727 !important;
        --Solid_TertiaryBack:         #2d2d2d !important;
        --Solid_QuaternaryBack:       #323232 !important;

        /* Solid Button Colors */
        --Solid_ButtonBase:                 #2d2d2d !important;
        --Solid_ButtonHover:                #323232 !important;
        --Solid_ButtonFocus:                #272727 !important;
        --Solid_ButtonBorder:               #303030 !important;
        --Solid_ButtonBorderAccent:         #353535 !important;
        --Solid_ButtonDisabled:             #2a2a2a !important;
        --Solid_ButtonDisabledFont:         #787878 !important;
        --Solid_ButtonDisTogFont:           #a7a7a7 !important;

        /* Solid Foreground Colors */
        --Solid_PrimaryFontColor:       #ffffff !important;
        --Solid_PrimaryIconColor:       #ffffff !important;

        /*
        --AccentColorBase:          #4CC2FF !important;
        --AccentColorHover:         #47b1e8 !important;
        --AccentColorPressed:       #42a1d2 !important;
        --AccentColorPressedFont:   #265c77 !important;
        --AccentedBorderBase:       #42a7dc !important;
        --AccentedBorderBaseAlt:    #5ac7ff !important;
        --AccentedBorderHover:      #3d99c8 !important;
        --AccentedBorderHoverAlt:   #55b7ea !important;
        */

        --AccentColorBase:          #f46762 !important;
        --AccentColorHover:         #de5f5b !important;
        --AccentColorPressed:       #c95854 !important;
        --AccentColorPressedFont:   #642c2a !important;
        --AccentedBorderBase:       #d35955 !important;
        --AccentedBorderBaseAlt:    #f5736e !important;
        --AccentedBorderHover:      #c0524f !important;
        --AccentedBorderHoverAlt:   #e16c68 !important;
}