/* Window Buttons */

@font-face {
    font-family: FluentSystemIcons;
    src: url("../../fonts/FluentSystemIcons-Resizable.woff2");
}

.title-area-icon-inner {
  font-family: FluentSystemIcons !important;

  height: 32px !important; /* default height of the titlebar button on windows */
  width: 46px !important; /* default width of the titlebar button on windows */
  text-align: center;
  color: #fff;
}

[class*="steamdesktop_Wrapper_"] .title-area-icon, .friendsui-container .title-area-icon,
.DesktopUI .title-area-icon, .friendsui-container .title-area-icon {
  height: 32px !important;
  width: 46px !important;
}

/* remove the original image from the buttons */
.title-area-icon-inner svg {
  display: none !important;
}

.closeButton .title-area-icon-inner::before {  
  font-size: 16px !important;
  content: '';
}

.maximizeButton .title-area-icon-inner::before {
  font-size: 14px !important;
  content: '';
}
.restoreButton .title-area-icon-inner::before {
  font-size: 13px !important;
  content: '';
}

.minimizeButton .title-area-icon-inner::before {
  font-size: 13px !important;
  content: '';
}

/* close button hover */
.title-area-icon.closeButton.windowControlButton:hover {
  background: #E81123 !important;
}
