@import url(rootMenu.css);
.menu_MenuItem_2jXHP.menu_Item_2uiDe.contextmenu_contextMenuItem_pFo3k.contextMenuItem:nth-child(1):before {
    content: "";
}
.menu_MenuItem_2jXHP.menu_Item_2uiDe.contextmenu_contextMenuItem_pFo3k.contextMenuItem:nth-child(1):hover:before {
    content: "";
}
.menu_MenuItem_2jXHP.menu_Item_2uiDe.contextmenu_contextMenuItem_pFo3k.contextMenuItem:nth-child(3):before {
    content: "";
}
.menu_MenuItem_2jXHP.menu_Item_2uiDe.contextmenu_contextMenuItem_pFo3k.contextMenuItem:nth-child(3):hover:before {
    content: "";
}
.menu_MenuItem_2jXHP.menu_Item_2uiDe.contextmenu_contextMenuItem_pFo3k.contextMenuItem:nth-child(5):before {
    content: "";
}
.menu_MenuItem_2jXHP.menu_Item_2uiDe.contextmenu_contextMenuItem_pFo3k.contextMenuItem:nth-child(5):hover:before {
    content: "";
}
.menu_MenuItem_2jXHP.menu_Item_2uiDe.contextmenu_contextMenuItem_pFo3k.contextMenuItem:nth-child(7):before {
    content: "";
}
.menu_MenuItem_2jXHP.menu_Item_2uiDe.contextmenu_contextMenuItem_pFo3k.contextMenuItem:nth-child(7):hover:before {
    content: "";
}
.menu_MenuItem_2jXHP.menu_Item_2uiDe.contextmenu_contextMenuItem_pFo3k.contextMenuItem:nth-child(10):before {
    content: "";
}
.menu_MenuItem_2jXHP.menu_Item_2uiDe.contextmenu_contextMenuItem_pFo3k.contextMenuItem:nth-child(10):hover:before {
    content: "";
}
.menu_MenuItem_2jXHP.menu_Item_2uiDe.contextmenu_contextMenuItem_pFo3k.contextMenuItem:nth-child(12):before {
    content: "";
}
.menu_MenuItem_2jXHP.menu_Item_2uiDe.contextmenu_contextMenuItem_pFo3k.contextMenuItem:nth-child(12):hover:before {
    content: "";
}
