@import url(rootMenu.css);
.menu_MenuItem_2jXHP.menu_Item_2uiDe.contextmenu_contextMenuItem_pFo3k.contextMenuItem:first-child::before {
    content: "";
}
.menu_MenuItem_2jXHP.menu_Item_2uiDe.contextmenu_contextMenuItem_pFo3k.contextMenuItem:first-child:hover::before {
    content: "";
}
.menu_MenuItem_2jXHP.menu_Item_2uiDe.contextmenu_contextMenuItem_pFo3k.contextMenuItem:nth-child(4)::before {
    content: "";
}
.menu_MenuItem_2jXHP.menu_Item_2uiDe.contextmenu_contextMenuItem_pFo3k.contextMenuItem:nth-child(4):hover::before {
    content: "";
}
.menu_MenuItem_2jXHP.menu_Item_2uiDe.contextmenu_contextMenuItem_pFo3k.contextMenuItem:nth-child(6)::before {
    content: "";
}
.menu_MenuItem_2jXHP.menu_Item_2uiDe.contextmenu_contextMenuItem_pFo3k.contextMenuItem:nth-child(6):hover::before {
    content: "";
}